*{
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  font-size: 2rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #FFE09E;
}

.row-container {
  display: flex;
  justify-content:space-around;
}

.team-name {
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border-bottom: solid #FFE09E;
}
